# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Alphabetical order/out/
/Problems/Alphabetical order/out/production/classes/
/Problems/Balance management/out/
/Problems/Balance management/out/production/classes/
/Problems/Calculating factorials/out/
/Problems/Calculating factorials/out/production/classes/
/Problems/Cinema/out/
/Problems/Cinema/out/production/classes/
/Problems/Composite numbers/out/
/Problems/Composite numbers/out/production/classes/
/Problems/Danger levels/out/
/Problems/Danger levels/out/production/classes/
/Problems/Initializing an array of longs/out/
/Problems/Initializing an array of longs/out/production/classes/
/Problems/Printing strings in the same order/out/
/Problems/Printing strings in the same order/out/production/classes/
/Problems/Spiral/out/
/Problems/Spiral/out/production/classes/
/Problems/The army of units/out/
/Problems/The army of units/out/production/classes/
/Problems/The index of the first max in an array/out/
/Problems/The index of the first max in an array/out/production/classes/
/Problems/The star figure/out/
/Problems/The star figure/out/production/classes/
/Problems/The sum of array elements/out/
/Problems/The sum of array elements/out/production/classes/